<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770417633051-ovm7h8l8utsd0dsmbcdabcu6pchggp19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770417633051-ovm7h8l8utsd0dsmbcdabcu6pchggp19</string>
	<key>API_KEY</key>
	<string>AIzaSyDPDCpQswBu2QdogCOYdXfYOejj9gYvDws</string>
	<key>GCM_SENDER_ID</key>
	<string>770417633051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ramazanDev.IGid</string>
	<key>PROJECT_ID</key>
	<string>igid-8e621</string>
	<key>STORAGE_BUCKET</key>
	<string>igid-8e621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770417633051:ios:67dc7bd18e60ca738615be</string>
	<key>DATABASE_URL</key>
	<string>https://igid-8e621.firebaseio.com</string>
</dict>
</plist>